<h4>ХИМИЧЕСКИЙ СОСТАВ ВОДЫ</h4>
{% for key, value in sample_data.items() %}
<p><strong>{{ key }}:</strong> {{ value }}</p>
{% endfor %}
<p style="text-align: right">
  <em><strong>см. приложениe</strong></em>
</p>
<h4 style="margin-bottom: 0.2rem">ЗАКЛЮЧЕНИЕ</h4>
<p style="font-size: 10pt; font-weight: bold; text-align: center">
  по качеству воды согласно СанПиН 2.1.4.1074-01 “Питьевая вода. Гигиенические
  требования к качеству воды централизованных систем питьевого водоснабжения”
</p>
<p>
  Результаты анализов воды из скважины по исследованным компонентам
  соответствуют требованиям, предъявляемые к качеству питьевой воды, за
  исключением: {{ conclusion }}
</p>
