<h4>ХИМИЧЕСКИЙ СОСТАВ ВОДЫ</h4>
{% for key, value in sample_data.items() %}
<p><strong>{{ key }}:</strong> {{ value }}</p>
{% endfor %}
<p style="text-align: right">
  <em><strong>см. приложениe</strong></em>
</p>
<h4 style="margin-bottom: 0.2rem">ЗАКЛЮЧЕНИЕ</h4>
<p style="font-weight: bold; text-align: center">
  СанПиН 1.2.3685-21 «Гигиенические нормативы и требования к обеспечению
  безопасности и (или) безвредности для человека факторов среды обитания»<br />
  СанПиН 2.1.3684-21 «Санитарно-эпидемиологические требования к содержанию
  территорий городских и сельских поселений, к водным объектам, питьевой воде и
  питьевому водоснабжению населения, атмосферному воздуху, почвам, жилым
  помещениям, эксплуатации производственных, общественных помещений, организации
  и проведению санитарно-противоэпидемиологических (профилактических)
  мероприятий» по качеству воды согласно СанПиН 2.1.4.1074-01 “Питьевая вода.
  Гигиенические требования к качеству воды централизованных систем питьевого
  водоснабжения”
</p>
<p>
  Результаты анализов воды из скважины по исследованным компонентам
  соответствуют требованиям, предъявляемые к качеству питьевой воды {% if
  conclsuion %}, за исключением: {{ conclusion }} {% endif %}
</p>
