<h4>ФАКТИЧЕСКАЯ КОНСТРУКЦИЯ СКВАЖИНЫ</h4>
<table class="table-base">
  <tr>
    <th>Дата установки</th>
    <th>Тип конструкции</th>
    <th>Диаметр, мм</th>
    <th>Глубина от, м</th>
    <th>Глубина до, м</th>
  </tr>
  {% for row in construction_data %}
  <tr>
    <td>{{ row.date }}</td>
    <td>{{ row.construction_type }}</td>
    <td>{{ row.diameter }}</td>
    <td>{{ row.depth_from }}</td>
    <td>{{ row.depth_till }}</td>
  </tr>
  {% endfor %}
</table>
<p>Цементация и тампонаж скважины:</p>
<p>
  К эксплуатации принят следующий водоносный горизонт, приуроченный к {{
  aquifer_info }}
</p>
<p>Указанный водоносный горизонт залегает на глубине {{ depth }} м</p>
<p style="text-align: center; font-size: 11pt">
  Описание геологического разреза скважины и литологический состав намеченных
  к<br />
  эксплуатации водоносных горизонтов указаны в прилагаемом геологическом
  разрезе.
</p>
