<!--<table class="header-table">-->
<!--  <tr>-->
<!--    <td>-->
<!--      <img src="data:image/png;base64,{{ logo }}" style="width:100px; height:50px; margin-top:3rem;"/>-->
<!--style="width:100px; height:50px; margin-top:3rem;"-->
<div style="overflow: hidden">
  <img
    src="{{ logo }}"
    style="
      width: 100px;
      height: 50px;
      margin-top: 4rem;
      float: left;
      margin-right: 1rem;
    "
  />
  <div
    style="
      font-weight: bold;
      font-size: 14pt;
      padding-top: 45px;
      margin-bottom: 0;
    "
  >
    <p style="margin-bottom: 0.1rem">
      ПАСПОРТ {{ type_well }} СКВАЖИНЫ<br />
      № {{ well_id }}
    </p>
  </div>
  Паспорт восстановлен в {{ year }} г. на основании ГИС, архивных материалов и
  проведенных ОФР.
</div>
<!--    </td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td colspan="2"></td>-->
<!--  </tr>-->
<!--</table>-->
