<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Header and Footer Example</title>
  </head>
  <body>
    <div style="margin-bottom: 1.5rem" id="header">
      {% include 'header.html' %}
    </div>
    <div class="title">{% include 'title.html' %}</div>
    <div class="info chapter">{% include 'position_info.html' %}</div>
    <div class="geol-tech chapter">{% include 'geol_tech.html' %}</div>
    <div class="geol-tech chapter">{% include 'geo_journal.html' %}</div>
    <div class="chapter">
      <div class="construction">{% include 'construction.html' %}</div>
      <div class="geophysics">{% include 'geophysics.html' %}</div>
    </div>
    <div class="chapter">
      <div class="test-pump">{% include 'test_pump.html' %}</div>
      <div class="pump-complex">{% include 'pump_complex.html' %}</div>
    </div>
    <div class="chem chapter">{% include 'chem.html' %}</div>
    <div class="extra">{% include 'extra_data.html' %}</div>
    <div class="chapter">{% include 'appendix.html' %}</div>
    <div class="chapter">{% include 'brief_remind.html' %}</div>
  </body>
</html>
