# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
darcy_front/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.idea/
venv/
.env
.env.local
.env.prod
entrypoint.sh
