<h4>ПРИЛОЖЕНИЯ</h4>
<p>1. Геологический разрез и конструкция скважины</p>
<p>2. Диаграмма геофизических исследований в скважине</p>
<p>3. Химический и микробиологический анализы</p>
<p>4. Краткая памятка по эксплуатации водозаборной скважины</p>
<p></p>
<div>
  <table class="signature">
    <tbody>
      <tr>
        <td>Паспорт составил (а)</td>
        <td>
          <img src="{{ sign_creator }}" style="width: 170px" />
        </td>
        <td>/В.Е. Мошин/</td>
      </tr>
    </tbody>
  </table>
</div>
<p>{{ creation_date }}</p>
<table class="journal" style="padding: 0">
  <tr>
    <td>Почтовый адрес организации</td>
    <td>
      117105, город Москва, Варшавское шоссе, дом 37 а строение 2, офис 0411.
    </td>
  </tr>
  <tr>
    <td>Контактный телефон</td>
    <td>Телефон: +7(495)968-04-82</td>
  </tr>
</table>
<p style="font-size: 9pt">
  *Паспорт составлен согласно СП 11-108-98 «Изыскания источников водоснабжения
  на базе подземных вод»
</p>
