<p style="text-align: right">Приложение № 4</p>
<h4>КРАТКАЯ ПАМЯТКА</h4>
<p class="brief">
  1. Продолжительность бездействия скважины после сооружения может отразиться на
  ее производительности, поэтому необходимо, чтобы скважина была оборудована
  эксплуатационным подъемником возможно скорее после окончания бурения и
  опробования.<br />
  Это особенно важно для скважин, оборудованных фильтрами и эксплуатирующих воды
  песчаных водоносных горизонтов.
</p>
<p class="brief">
  2. Скважина, находившаяся в бездействии свыше одного месяца, обязательно
  должна быть подвергнута повторной пробно-эксплуатационной откачке до полного
  осветления воды.
</p>
<p class="brief">
  3. Во всех случаях, когда монтаж эксплуатационного насоса не производится
  после окончания бурения и опробования, устье скважины должно быть прочно
  закрыто, лучше всего металлической крышкой с приваркой ее к обсадной трубе.<br />
  В случае несоблюдения этого требования, скважина может быть загрязнена и
  засорена. Работы по очистке и восстановлению скважины обычно бывают связаны с
  большими затратами.<br />
  В отдельных случаях работы по восстановлению могут не дать положительных
  результатов и скважина может совершенно выйти из строя. Целость закрытия
  скважины должна систематически проверяться владельцем скважины.
</p>
<p class="brief">
  4. Вся геолого-техническая документация на скважину, включая акты на
  заложение, скрытые работы, гидрогеологическое заключение, разрез, акт приема
  сдачи, паспорт, выданные буровой организацией, должны храниться постоянно.
  Следует иметь в виду, что по истечении нескольких лет, в случае необходимости
  переоборудования или ремонта скважины, вся перечисленная выше
  геолого-техническая документация будет являться исходным материалом для
  осуществления тех или иных технических мероприятий.<br />
  Отсутствие этой документации вызовет необходимость проведения большого объема
  дополнительных работ, а в некоторых случаях лишит возможности правильно решить
  вопрос и методику ремонтно-восстановительных работ.
</p>
<p class="brief">
  5. Перед началом работ по монтажу водоприемника устье скважины должно быть
  открыто в присутствии представителей организации, владеющей скважиной и
  организации, монтирующей водоприемник, после чего должна быть замерена глубина
  скважины.<br />
  Открытие устья скважины и результат замера ее глубины должны быть
  зафиксированы актом. В зависимости от результатов замера скважины принимается
  решение о возможности предварительной откачки скважины.
</p>
<p class="brief">
  6. Производить чистку скважины, ревизию и монтаж водоподъемного оборудования,
  воизбежании неполадок и аварий, рекомендуется поручить квалифицированным
  специалистам.
</p>
<p class="brief">
  7. Обслуживание скважины должно вестись людьми, хорошо знающими водоподъемное
  оборудование и имеющими право на ведение этой работы.
</p>
<p class="brief">
  8. Рекомендуется опорную плиту погружного насоса устанавливать не на обсадную
  техническую или фильтрово-эксплуатационную колонну труб, а на специальный
  бетонный фундамент.<br />
  Вибрация от работающего насоса, переходящая на трубы и фильтр, может вызвать
  пескование скважины.
</p>
<p class="brief">
  9. При вводе скважины в эксплуатацию насос должен включаться с минимальной
  производительностью с дальнейшим постепенным увеличением отбора воды до
  рекомендуемого.
</p>
<p class="brief">
  10. Скважина должна эксплуатироваться с дебитом, не превышающим
  рекомендованного буровой организацией.
</p>
