<h4></h4>
<table class="journal">
  <tr>
    При бурении скважины № {{ well_id }} были пройдены следующие горные породы:
  </tr>
  <tr>
    <td>№ п. п.</td>
    <td>Геологический возраст пройденных пород</td>
    <td>Описание пройденных пород и характер водоносности</td>
    <td>Мощность пласта, м</td>
    <td>Глубина подошвы пласта, м</td>
    <td>Целевой водоносный горизонт</td>
  </tr>
  {% for row in geo_journal %}
  <tr>
    {% for value in row %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr></tr>
</table>
<p style="font-size: 10pt">
  Геолого-литологический разрез приводится по данным ГИС
</p>
