<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Well Passport</title>
  </head>
  <body>
    <div style="margin-bottom: 1.5rem" id="header">
      {% include 'passports/header.html' %}
    </div>
    <div class="title">{% include 'passports/title.html' %}</div>
    <div class="info chapter">{% include 'passports/position_info.html' %}</div>
    <div class="geol-tech chapter">
      {% include 'passports/geol_tech.html' %}
    </div>
    <div class="geol-tech chapter">
      {% include 'passports/geo_journal.html' %}
    </div>
    <div class="chapter">
      <div class="construction">
        {% include 'passports/construction.html' %}
      </div>
      <div class="geophysics" style="page-break-inside: avoid">
        {% include 'passports/geophysics.html' %}
      </div>
    </div>
    {% if efr %}
    <div class="chapter">
      <div class="pump-complex">
        {% include 'passports/pump_complex.html' %}
      </div>
    </div>
    {% endif %} {% if sample_data %}
    <div class="chem chapter">{% include 'passports/chem.html' %}</div>
    {% endif %} {% if extra_data %}
    <div class="extra">{% include 'passports/extra_data.html' %}</div>
    {% endif %}
    <div class="chapter">{% include 'passports/appendix.html' %}</div>
    <div class="chapter">{% include 'passports/attachments.html' %}</div>
    <div class="chapter">{% include 'passports/brief_remind.html' %}</div>
  </body>
</html>
