<div style="overflow: hidden; opacity: 0.5">
  <img
    src="{{ logo }}"
    style="height: 50px; margin-top: 4rem; float: left; margin-right: 1rem"
  />
  <div
    style="
      font-weight: bold;
      font-size: 14pt;
      padding-top: 45px;
      margin-bottom: 0;
    "
  >
    <p
      style="
        margin-bottom: 0.2rem;
        padding-top: 0.1rem;
        line-height: 1.8;
        font-size: 12pt;
        width: 600px;
        word-wrap: break-word;
        text-align: left;
      "
    >
      {{doc_type}} ИЗ {{ type_well }} СКВАЖИНЫ № {{ well_id }}
    </p>
  </div>
</div>
