<h4>РЕЗУЛЬТАТЫ ОТКАЧКИ</h4>
<p>Статический уровень воды на начало откачки {{ stat_wat }} м.</p>
<table class="table-base">
  <tr>
    <th rowspan="2">Дата</th>
    <th colspan="2">Время от начала откачки</th>
    <th rowspan="2">Динамический уровень, м</th>
    <th rowspan="2">Понижение, м</th>
    <th rowspan="2">Дебит, м<sup>3</sup>/ч</th>
    <th rowspan="2">
      Примечание (температура воды, воздуха, способ замера динамического уровня
      воды при откачке, ёмкость измерительного сосуда, показания расходомера)
    </th>
  </tr>
  <tr>
    <th>Часы</th>
    <th>Минуты</th>
  </tr>
</table>
