<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pump Journal</title>
  </head>
  <body>
    <div style="margin-bottom: 1.5rem" id="header">
      {% include 'pump_journals/header.html' %}
    </div>
    <div class="title">{% include 'pump_journals/title.html' %}</div>
    <div class="info chapter">{% include 'pump_journals/info.html' %}</div>
    <div class="chapter">{% include 'pump_journals/tech_data.html' %}</div>
    <div class="chapter">{% include 'pump_journals/pump_data.html' %}</div>
    <div class="chapter">{% include 'pump_journals/recovery_data.html' %}</div>
  </body>
</html>
