<h4>РЕЗУЛЬТАТЫ ВОССТАНОВЛЕНИЯ УРОВНЯ</h4>
<p>Динамический уровень воды на конец откачки {{ dyn_wat }} м.</p>
<table class="table-base" style="font-size: 10pt">
  <tr>
    <th rowspan="2">Дата</th>
    <th colspan="2">Время от остановки откачки</th>
    <th rowspan="2">Динамический уровень, м</th>
    <th rowspan="2">Восстановление уровня, м</th>
  </tr>
  <tr>
    <th>Часы</th>
    <th>Минуты</th>
  </tr>
  {% for row in recovery_data %}
  <tr>
    {% for value in row %}
    <td>{{ value }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
